<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
          version="2.5">

    <display-name>Impala Maven example</display-name>

    <description>Impala Maven example</description>

    <listener>
        <listener-class>org.impalaframework.web.spring.loader.ImpalaContextLoaderListener</listener-class>
    </listener>
    
    <filter>
        <filter-name>web</filter-name>
        <filter-class>org.impalaframework.web.spring.integration.ModuleProxyFilter</filter-class>
        <load-on-startup>2</load-on-startup>
    </filter>

    <filter-mapping>
        <filter-name>web</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>JSP</servlet-name>
        <servlet-class>org.impalaframework.web.jsp.ModuleJspServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
	<servlet-mapping>
		<servlet-name>JSP</servlet-name>
		<url-pattern>*.jspi</url-pattern>
	</servlet-mapping>
    
</web-app>
