<web-app>
	
	<display-name>Enter display name here</display-name>

	<description>Enter description here</description>
	
	<context-param>
		<param-name>contextLoaderClassName</param-name>
		<param-value>org.impalaframework.web.loader.ExternalModuleContextLoader</param-value>
	</context-param>

	<listener>
		<listener-class>org.impalaframework.web.loader.ImpalaContextLoaderListener</listener-class>
	</listener>
	
    <servlet>
        <servlet-name>redirector</servlet-name>
        <servlet-class>org.impalaframework.web.integration.ModuleRedirectingServlet</servlet-class>
        <init-param>
                <param-name>modulePrefix</param-name>
                <param-value>webframeworks-</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>redirector</servlet-name>
        <url-pattern>*.to</url-pattern>
    </servlet-mapping>
    
</web-app>