<web-app>
	
	<display-name>Enter display name here</display-name>

	<description>Enter description here</description>
	
	<context-param>
		<param-name>contextLoaderClassName</param-name>
		<param-value>org.impalaframework.web.loader.ExternalModuleContextLoader</param-value>
	</context-param>

	<listener>
		<listener-class>org.impalaframework.web.loader.ImpalaContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>@web.project.name@</servlet-name>
        <servlet-class>org.impalaframework.web.servlet.ExternalModuleServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>@web.project.name@</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>