<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
 
 <bean id="classLocationResolver" class="org.impalaframework.resolver.PropertyClassLocationResolver"/>
	
 <bean id="pluginLoaderRegistry" class="org.impalaframework.plugin.bootstrap.PluginLoaderRegistryFactoryBean">
	<property name="classLocationResolver" ref="classLocationResolver"/>	 
	<property name="reloadableParent" value="false"/>	 
 </bean>
	
 <bean id="applicationContextLoader" class="org.impalaframework.plugin.loader.RegistryBasedApplicationContextLoader">
	<constructor-arg ref="pluginLoaderRegistry"/>	  
 </bean>
	
 <bean id="pluginModificationCalculator" class="org.impalaframework.plugin.modification.PluginModificationCalculator"/>
	
 <bean id="loadTransitionProcess" class="org.impalaframework.plugin.transition.LoadTransitionProcessor">
	<constructor-arg ref="applicationContextLoader"/>	 
 </bean>
	
 <bean id="unloadTransitionProcess" class="org.impalaframework.plugin.transition.UnloadTransitionProcessor"/>	
	
 <bean id="transitionProcessorRegistry" class="org.impalaframework.plugin.transition.TransitionProcessorRegistry">
	<property name = "transitionProcessorMap">
		<map>
			<entry key="UNLOADED_TO_LOADED" value-ref="loadTransitionProcess"/>
			<entry key="LOADED_TO_UNLOADED" value-ref="unloadTransitionProcess"/>
		</map>
	</property> 
 </bean>	
	
 <bean id="pluginStateManager" class="org.impalaframework.plugin.transition.DefaultPluginStateManager">
	<property name="transitionProcessorRegistry" ref="transitionProcessorRegistry"/>	  
 </bean>

</beans>