body, p, li, h1, h2, h3 {
	font-family: Helvetica, Sans-serif;
	color: #333;
}

input {
	font-family: Helvetica, Sans-serif;
	color: #333;
}

a, a:visited, a:active, a:hover {
	text-decoration: none;
	background-color: #eee;
	color: #00f;
}

a:hover {
	color: #00c;	
}

pre {
	color: #393;	
	border: 1px solid #666;
	padding: 10px;
}

code {
	color: #393;	
}