<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
	<bean id="configurer"
		class="net.java.impala.spring.externalconfig.AlternativeLocationPlaceholderConfigurer">
		<property name="fileLocations">
			<list>
				<value>externalconfig/configurer1.properties</value>
				<value>externalconfig/configurer2.properties</value>
				<value>externalconfig/configurer3.properties</value>
				<value>externalconfig/configurer4.properties</value>
				<value>classpath:externalconfig/configurer5.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id = "bean10" class = "net.java.impala.spring.externalconfig.impl.StringFactoryBean">
		<property name="value" value = "${bean10}"/>
	</bean>
	
	<bean id = "bean11" class = "net.java.impala.spring.externalconfig.impl.StringFactoryBean">
		<property name="value" value = "${bean11}"/>
	</bean>
	
	<bean id = "bean20" class = "net.java.impala.spring.externalconfig.impl.StringFactoryBean">
		<property name="value" value = "${bean20}"/>
	</bean>
	
	<bean id = "bean21" class = "net.java.impala.spring.externalconfig.impl.StringFactoryBean">
		<property name="value" value = "${bean21}"/>
	</bean>
	
	<bean id = "bean22" class = "net.java.impala.spring.externalconfig.impl.StringFactoryBean">
		<property name="value" value = "${bean22}"/>
	</bean>
	
	<bean id = "bean30" class = "net.java.impala.spring.externalconfig.impl.StringFactoryBean">
		<property name="value" value = "${bean30}"/>
	</bean>
	
	<bean id = "bean40" class = "net.java.impala.spring.externalconfig.impl.StringFactoryBean">
		<property name="value" value = "${bean40}"/>
	</bean>
	
	<bean id = "bean50" class = "net.java.impala.spring.externalconfig.impl.StringFactoryBean">
		<property name="value" value = "${bean50}"/>
	</bean>
	
</beans>