<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	      version="2.4">
	
	<display-name>SpringFaces</display-name>

	<description>SpringFaces</description>
	
	<context-param>
		<param-name>contextLoaderClassName</param-name>
		<param-value>org.impalaframework.web.spring.loader.ExternalModuleContextLoader</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.impalaframework.web.spring.loader.ImpalaContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
        <servlet-name>redirector</servlet-name>
        <servlet-class>org.impalaframework.web.spring.integration.ModuleProxyServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>redirector</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>	
     
    <!-- Just here so the JSF implementation can initialize, *not* used at runtime 
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>-->

	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>