<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"       
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:web="http://www.impalaframework.org/schema/web"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.impalaframework.org/schema/web http://impala.googlecode.com/svn/schema/web.xsd">

    <import resource="web-application-config.xml" />
    
    <web:context-listener listenerClass="com.sun.faces.config.ConfigureListener"/>

	<web:context-listener listenerClass="org.impalaframework.samples.springfaces.web.ContextPublisher"/>
    
    <web:servlet id = "springfaces-web" 
        servletClass = "org.impalaframework.web.spring.servlet.InternalModuleServlet" 
        initParameters = "setThreadContextClassLoader=true"/>

    <web:servlet id = "faces-servlet" 
        servletClass = "javax.faces.webapp.FacesServlet"/>
    
    <web:mapping>
        <web:to-module prefix = "/spring" setServletPath="true"/> 
        <web:to-handler extension = "[none]" servletName="springfaces-web"/> 
    </web:mapping>
    
</beans>
