<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
          version="2.4">
    
    <display-name>Impala Spring PetClinic</display-name>

    <description>Spring PetClinic sample application, adapted for Impala</description>
    
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>petclinic.root</param-value>
    </context-param>

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.properties</param-value>
    </context-param>
    
    <!--
    Values omitted because they express default values
    <context-param>
        <param-name>contextLoaderClassName</param-name>
        <param-value>org.impalaframework.web.spring.loader.ExternalModuleContextLoader</param-value>
    </context-param>    
    
    <context-param>
        <param-name>bootstrapModulesResource</param-name>
        <param-value>moduledefinitions.xml</param-value>
    </context-param>
    
    <context-param>
        <param-name>bootstrapLocationsResource</param-name>
        <param-value>impala.properties</param-value>
    </context-param>    
      -->

    <listener>
        <listener-class>org.impalaframework.web.spring.loader.ImpalaContextLoaderListener</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>petclinic-web</servlet-name>
        <servlet-class>org.impalaframework.web.spring.servlet.ExternalModuleServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>petclinic-web</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

    <welcome-file-list>
        <!-- Redirects to "welcome.htm" for dispatcher handling -->
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <!-- Displays a stack trace -->
        <location>/WEB-INF/jsp/uncaughtException.jsp</location>
    </error-page>   
    
</web-app>
